<div class="view addgolflocation">
    <table>
        <tr>
            <td >
                <label class="lbl">Golf Club Name</label>
            </td>
            <td>
                <input type="text" id="clubname" class="txt" style ="width:377px "/>
            </td>
        </tr>
        <tr>
            <td >
                <label class="lbl">Site (i.e. City, State)</label>
            </td>
            <td>
                <input type="text" id="site" class="txt" style ="width:377px "/>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn" type="button" value="Delete" name="Delete" ng-click="changeView('/main')" >Delete</button>
            </td>
            <td>
                <button class="btn" type="button" value="Add" name="Add" ng-click="changeView('/main')" >Add</button>
            </td>
            <td>
                <button class="btn" type="button" value="View" name="View" ng-click="changeView('/main')" >View</button>
            </td>
            <td>
                <button class="btn" type="button" value="Edit" name="Edit" ng-click="changeView('/main')" >Edit</button>
            </td>
            <td>
                <label class="lbl">View Mode</label>
            </td>
            <td>
                <button class="btn" type="button" value="Save" name="Save" ng-click="changeView('/main')" >Save</button>
            </td>
            <td>
                <button class="btn" type="button" value="Close" name="Close" ng-click="changeView('/main')" >Close</button>
            </td>
        </tr>
    </table>
</div>